.l-constrained {
  margin: 18px auto 0;
  padding: 0 112px;
  position: relative;
  width: 1440px;
}
.row-4 {
  left: 48px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1034px;
}
.vector-smart-object-double-clik-to-edit-19 {
  float: left;
  margin: 110px 0 0;
}
.col-14 {
  float: right;
  position: relative;
  width: 758px;
}
.body-3 {
  left: 91px;
  margin: 0 auto;
  position: relative;
  width: 576px;
  font-size: 21.4531px;
  line-height: 38.82232px;
  text-align: right;
}
.text-9 {
  margin: 35px 0 0;
  position: relative;
  color: #fefefe;
  font-family: "Grand Hotel", handwriting;
  font-size: 130.93137px;
  letter-spacing: 0;
}
.icon-2 {
  left: 11px;
  margin: -23px auto 0;
  position: relative;
  width: 1194px;
}
.vector-smart-object-double-clik-to-edit-20 {
  float: left;
  margin: 283px 0 0;
}
.col-7 {
  float: left;
  margin: 39px 0 0 60px;
  position: relative;
  width: 855px;
}
.place-your-image-here-double-click-to-edit {
  display: block;
}
.button-5 {
  left: 11.5px;
  margin: 6px auto 0;
  min-height: 58px;
  padding: 0 23px;
  position: relative;
  width: 362px;
  background: url(images/vector_smart_object_doubl_22.png) no-repeat;
  font-size: 33.33333px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 58px;
  text-align: center;
}
.col-8 {
  float: left;
  margin: 0 0 0 72px;
  position: relative;
  width: 120px;
}
.vector-smart-object-double-clik-to-edit-21 {
  display: block;
  margin: 0 auto;
}
.vector-smart-object-double-clik-to-edit-22 {
  display: block;
  margin: 347px auto 0;
}
