.wrapper-4 {
  height: 3031px;
  margin: 76px 0 0;
  position: relative;
  width: 100%; 
}
.col {
  left: 0;
  padding: 57px 0 41px;
  position: absolute;
  top: 2555px;
  width: 100%; 
  background: #29a19c center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 49px;
  position: relative;
  width: 1440px;
}
.text-11 {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1334px;
}
.headline-4 {
  margin: 0 0 0 722px;
  position: relative;
}
.information {
  float: left;
  margin: 0 117px 0 0;
  width: 242px;
  font-size: 33.33333px;
  font-weight: bold;
  letter-spacing: 0.04em;
}
.text-12 {
  float: left;
  margin: 2px 0 0;
  width: 223px;
  font-size: 33.33333px;
  font-weight: bold;
  letter-spacing: 0.04em;
}
.description-5 {
  left: 363.5px;
  margin: 57px auto 0;
  position: relative;
  width: 607px;
}
.information-description {
  float: left;
  position: relative;
  width: 122px;
}
.text-13 {
  font-size: 22.22227px;
}
.branches {
  margin: 14px 0 0;
  font-size: 22.22227px;
}
.menu-2 {
  margin: 13px 0 0;
  font-size: 22.22227px;
}
.contact-2 {
  margin: 13px 0 0;
  font-size: 22.22227px;
}
.map {
  margin: 15px 0 0;
  font-size: 22.22227px;
}
.contact-description {
  float: right;
  margin: 1px 0 0;
  position: relative;
  width: 252px;
}
.support {
  font-size: 22.22227px;
}
.id-gmail-com {
  margin: 16px 0 0;
  font-size: 22.22227px;
}
.toolbar {
  margin: 97px 0 0;
  position: relative;
}
.toolbar > * {
  float: left;
  margin: 0 58px 0 0;
}
.toolbar > *:last-child {
  margin-right: 0 !important;
}
.home-2 {
  font-size: 19.54167px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align: center;
}
.about-2 {
  font-size: 19.54167px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align: center;
}
.menu-3 {
  font-size: 19.54167px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align: center;
}
.blog-2 {
  font-size: 19.54167px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align: center;
}
.shop-2 {
  font-size: 19.54167px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align: center;
}
.contact-3 {
  font-size: 19.54167px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align: center;
}
.social-media {
  left: 553.5px;
  margin: -26px auto 0;
  position: relative;
  width: 215px;
}
.icon-3 {
  position: relative;
}
.facebook-icon-double-click-to-edit {
  float: left;
}
.instagram-icon-double-click-to-edit {
  float: left;
  margin: 1px 0 0 49px;
}
.twitter-icon-double-click-to-edit {
  float: left;
  margin: 1px 0 0 45px;
}
.youtube-icon-double-click-to-edit {
  float: left;
  margin: 4px 0 0 41px;
}
.vector-smart-object-double-clik-to-edit-23 {
  left: 0;
  position: absolute;
  top: 2400px;
  width: 100%; 
}
.vector-smart-object-double-click-to-edit-2 {
  left: 50%;
  position: absolute;
  top: 2603px;
  margin-left: -660px;
}
.group-8 {
  height: 1039px;
  left: 0;
  position: absolute;
  top: 1425px;
  width: 100%;
}
.vector-smart-object-double-clik-to-edit-24 {
  left: 50%;
  position: absolute;
  top: 940px;
  margin-left: 233px;
}
.vector-smart-object-double-clik-to-edit-25 {
  left: 50%;
  position: absolute;
  top: 892px;
  margin-left: -290px;
}
.design-4 {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; 
  z-index: 0;
}
.vector-smart-object-double-clik-to-edit-26 {
  height: 277px;
  overflow: hidden;
  position: relative;
  width: 100%; 
  z-index: 57;
  background: url(images/vector_smart_object_doubl_8.png) no-repeat center 0;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.vector-smart-object-double-clik-to-edit-27 {
  display: block;
  margin: -19px auto 0;
  position: relative;
  right: 384.5px;
  z-index: 54;
}
.l-unconstrained-2 {
  margin: -20px 0 0;
  position: relative;
  z-index: 53;
}
.l-constrained-7 {
  margin: 0 auto;
  padding: 0 65px;
  position: relative;
  width: 1440px;
}
.vector-smart-object-double-clik-to-edit-28 {
  display: block;
  left: 628.5px;
  margin: 0 auto;
  position: relative;
}
.vector-smart-object-double-clik-to-edit-29 {
  display: block;
  margin: 353px auto 0;
  position: relative;
  right: 4.5px;
}
.text-14 {
  left: 50%;
  position: absolute;
  top: 285px;
  width: 1339px;
  margin-left: -674px;
}
.title {
  display: table;
  margin: 0 auto;
  font-family: 'Grand Hotel', handwriting;
  font-size: 87.5px;
  letter-spacing: 0.04em;
  text-align: center;
}
.image {
  margin: 25px 31px 0 39px;
  position: relative;
}
.image > * {
  float: left;
  margin: 0 210px 0 0;
}
.image > *:last-child {
  margin-right: 0 !important;
}
.heading {
  margin: 50px 0 0 82px;
  position: relative;
}
.text-16 {
  float: left;
  margin: 2px 0 0;
  font-size: 33.33333px;
  font-weight: bold;
}
.jakarta {
  float: left;
  margin: 2px 0 0 328px;
  font-size: 33.33333px;
  font-weight: bold;
}
.paris {
  float: left;
  margin: 0 0 0 364px;
  font-size: 33.33333px;
  font-weight: bold;
}
.description-6 {
  margin: 49px 0 0;
  position: relative;
}
.description-1 {
  float: left;
  width: 346px;
  line-height: 27.5px;
  text-align: center;
}
.description-3-2 {
  float: left;
  margin: 0 0 0 155px;
  width: 346px;
  line-height: 27.5px;
  text-align: center;
}
.description-2-2 {
  float: left;
  margin: 0 0 0 146px;
  width: 346px;
  line-height: 27.5px;
  text-align: center;
}
.design-5 {
  left: 0;
  padding: 65px 0 33px;
  position: absolute;
  top: 950px;
  width: 100%; 
  background: url(images/vector_smart_object_doubl_10.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-3 {
  margin: 0 auto;
  padding: 0 143px 0 144px;
  position: relative;
  width: 1440px;
}
.col-3 {
  float: left;
  position: relative;
  width: 230px;
}
.vector-smart-object-double-clik-to-edit-30 {
  display: block;
  position: relative;
}
.vector-smart-object-double-clik-to-edit-31 {
  display: block;
  left: 44px;
  margin: 183px auto 0;
  position: relative;
}
.text-17 {
  float: left;
  margin: 3px 0 0 129px;
  position: relative;
  width: 436px;
}
.title-2 {
  margin: 0 0 0 9px;
  position: relative;
  font-family: 'Grand Hotel', handwriting;
  font-size: 97.78009px;
  letter-spacing: 0.04em;
  text-align: center;
}
.description-7 {
  margin: 81px auto 0;
  position: relative;
  right: 2.5px;
  width: 431px;
}
.text-19 {
  font-size: 37.5px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}
.text-20 {
  margin: 10px 0 0;
  font-size: 37.5px;
  letter-spacing: 0;
  text-align: center;
}
.text-21 {
  margin: 104px 0 0;
  font-size: 37.5px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}
.text-22 {
  margin: 11px 0 0;
  font-size: 37.5px;
  letter-spacing: 0;
  text-align: center;
}
.col-4 {
  float: left;
  margin: 15px 0 0 179px;
  position: relative;
  width: 179px;
}
.vector-smart-object-double-clik-to-edit-32 {
  display: block;
  left: 27.5px;
  margin: 0 auto;
  position: relative;
}
.vector-smart-object-double-clik-to-edit-33 {
  display: block;
  margin: 227px 0 0;
  position: relative;
}
.group-6 {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; 
}
.l-unconstrained {
  position: relative;
}
.l-constrained-4 {
  margin: 0 auto;
  padding: 0 64px;
  position: relative;
  width: 1440px;
}
.title-3 {
  display: table;
  margin: 0 auto;
  color: #fefefe;
  font-family: 'Grand Hotel', handwriting;
  font-size: 87.5px;
  letter-spacing: 0;
  text-align: center;
}
.row-5 {
  margin: 66px 0 0;
  position: relative;
}
.vector-smart-object-double-clik-to-edit-34 {
  float: left;
  margin: 289px 0 0;
}
.col-18 {
  float: left;
  margin: 0 0 0 26px;
  position: relative;
  width: 1005px;
}
.image-2 {
  position: relative;
}
.image-2 > * {
  float: left;
  margin: 0 85px 0 0;
}
.image-2 > *:last-child {
  margin-right: 0 !important;
}
.vector-smart-object-double-clik-to-edit-35 {
  margin-top: 41px !important;
}
.headline-5 {
  left: 12px;
  margin: 55px auto 0;
  position: relative;
  width: 827px;
}
.text-24 {
  float: left;
  margin: 1px 0 0;
  width: 229px;
  font-family: 'Grand Hotel', handwriting;
  font-size: 50px;
  letter-spacing:-10px;
  text-align: center;
}
.text-25 {
  float: left;
  margin: 1px 0 0;
  width: 229px;
  font-family: 'Grand Hotel', handwriting;
  font-size: 50px;
  letter-spacing: 0;
  text-align: center;
}
.vector-smart-object-double-clik-to-edit-36 {
  float: left;
  margin: 335px 0 0 15px;
}